In [3]:
#Import necessary modules.

from pymongo import MongoClient
import pandas as pd
import numpy as np

In [5]:
#Create a database using attribute style on a MongoClient instance.
#Declare a variable db and assign the new database as an attribute of the client.

client = pymongo.MongoClient("mongodb://localhost:27017")
db = client["task_guvi"]
print(db)

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'task_guvi')

In [6]:
#Create a collection.
mycollection = db["telephonedirectury"]
print(mycollection)

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'task_guvi'), 'telephonedirectury')

In [ ]:
#For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,    
#Insert the record into the collection.

document = {'name':"sagar", 
            "phone no": 9860589562,
            "place": "mumbai"}
    mycollection.insert_one(document)
    
    document1 = [{"Name":"Vivek","Phone no":9921900987,"place":"Goregaon"},
                 {"Name":"Mangesh","Phone no":9960606659,"place":"Chandwad"},
                 {"Name":"Sagar","Phone no":9011435247,"place":"Javhar"},
                 {"Name":"Vishakha","Phone no":7972389767,"place":"Nashik"},
                 {"Name":"Sachin","Phone no":7507228012,"place":"Malegaon"}
                 ]
    
    mycollection.insert_many(document1)

In [7]:
#Make a query to find records you just created.
    
all_records = mycollection.find()
print(all_records)
for row in all_records:
    print(row)

{'_id': ObjectId('6352e030df2aaa42ab6f9505'), 'name': 'Raj', 'phone no': 9860589892.0, 'place': 'delhi'}
<pymongo.cursor.Cursor object at 0x000001FB6F2E3250>
{'_id': ObjectId('6352e030df2aaa42ab6f9505'), 'name': 'Raj', 'phone no': 9860589892.0, 'place': 'delhi'}
{'_id': ObjectId('6352e7cc9e387cb09488509f'), 'Name': 'Vivek', 'Phone no': 9921900987, 'place': 'Goregaon'}
{'_id': ObjectId('6352e7cc9e387cb0948850a0'), 'Name': 'Mangesh', 'Phone no': 9960606659, 'place': 'Chandwad'}
{'_id': ObjectId('6352e7cc9e387cb0948850a2'), 'Name': 'Vishakha', 'Phone no': 7972389767, 'place': 'Nashik'}
{'_id': ObjectId('6352e7cc9e387cb0948850a3'), 'Name': 'Sachin', 'Phone no': 7507228012, 'place': 'Malegaon'}

In [8]:
#Modify the records, use the update_one() method. The update_one() method requires two arguments, query and update.
prev = {"name": "Raj"}
nextt= {'$set': {"name": "sagar"}}
mycollection.update_one(prev, nextt)

In [9]:
all_records = mycollection.find()
print(all_records)
for row in all_records:
    print(row)

{'_id': ObjectId('6352e030df2aaa42ab6f9505'), 'name': 'sagar', 'phone no': 9860589892.0, 'place': 'delhi'}
<pymongo.cursor.Cursor object at 0x000001FB66DF2D40>
{'_id': ObjectId('6352e030df2aaa42ab6f9505'), 'name': 'sagar', 'phone no': 9860589892.0, 'place': 'delhi'}
{'_id': ObjectId('6352e7cc9e387cb09488509f'), 'Name': 'Vivek', 'Phone no': 9921900987, 'place': 'Goregaon'}
{'_id': ObjectId('6352e7cc9e387cb0948850a0'), 'Name': 'Mangesh', 'Phone no': 9960606659, 'place': 'Chandwad'}
{'_id': ObjectId('6352e7cc9e387cb0948850a2'), 'Name': 'Vishakha', 'Phone no': 7972389767, 'place': 'Nashik'}
{'_id': ObjectId('6352e7cc9e387cb0948850a3'), 'Name': 'Sachin', 'Phone no': 7507228012, 'place': 'Malegaon'}

In [22]:
#Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete.
mycollection.delete_one({"name":"Vivek"})

In [25]:
all_records = mycollection.find()
print(all_records)
for row in all_records:
    print(row)

<pymongo.cursor.Cursor object at 0x000001FB6F2E2E90>
{'_id': ObjectId('6352e7cc9e387cb09488509f'), 'Name': 'Vivek', 'Phone no': 9921900987, 'place': 'Goregaon'}
{'_id': ObjectId('6352e7cc9e387cb0948850a0'), 'Name': 'Mangesh', 'Phone no': 9960606659, 'place': 'Chandwad'}
{'_id': ObjectId('6352e7cc9e387cb0948850a2'), 'Name': 'Vishakha', 'Phone no': 7972389767, 'place': 'Nashik'}
{'_id': ObjectId('6352e7cc9e387cb0948850a3'), 'Name': 'Sachin', 'Phone no': 7507228012, 'place': 'Malegaon'}

In [24]:
#Thank You